In [1]:
import pandas as pd
# import numpy as np

# import sqlalchemy
import json
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import jsonify
import pprint

# from config import key

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
engine = create_engine("mysql://root:Eye@m5mart@localhost:3306/cycle_db")

In [3]:
# reflect an existing database into a new model
Base = declarative_base()
# reflect the tables
# Base.prepare(engine, reflect=True)

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [5]:
inspector = inspect(engine)

In [6]:
inspector.get_table_names()

['2018_tripdata', '2019_tripdata']

In [7]:
session.query('2019_tripdata')

In [8]:
with engine.connect() as con:
    
    cycles_df= pd.read_sql_table('2019_tripdata', con, columns=["year", "startstationname", "startstationlatitude",\
        "startstationlongitude", "endstationname", "endstationlatitude", "endstationlongitude",\
        "usertype", "gender", "birthyear"])
    
cycles_df.head()

,year,startstationname,startstationlatitude,startstationlongitude,endstationname,endstationlatitude,endstationlongitude,usertype,gender,birthyear
0,2019,Exchange Place,40.716247,-74.033459,Morris Canal,40.712419,-74.038526,Subscriber,Male,30
1,2019,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,Subscriber,Male,53
2,2019,Exchange Place,40.716247,-74.033459,Van Vorst Park,40.718489,-74.047727,Subscriber,Female,48
3,2019,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,Subscriber,Male,34
4,2019,Exchange Place,40.716247,-74.033459,Harborside,40.719252,-74.034234,Subscriber,Male,48

In [12]:

cyc = cycles_df.head().to_json(orient='records')
pprint.pprint(cyc)

('[{"year":2019,"startstationname":"Exchange '
 'Place","startstationlatitude":40.7162469,"startstationlongitude":-74.0334588,"endstationname":"Morris '
 'Canal","endstationlatitude":40.7124188238,"endstationlongitude":-74.0385255218,"usertype":"Subscriber","gender":"Male","birthyear":30},{"year":2019,"startstationname":"Exchange '
 'Place","startstationlatitude":40.7162469,"startstationlongitude":-74.0334588,"endstationname":"Paulus '
 'Hook","endstationlatitude":40.7141454,"endstationlongitude":-74.0335519,"usertype":"Subscriber","gender":"Male","birthyear":53},{"year":2019,"startstationname":"Exchange '
 'Place","startstationlatitude":40.7162469,"startstationlongitude":-74.0334588,"endstationname":"Van '
 'Vorst '
 'Park","endstationlatitude":40.71848892,"endstationlongitude":-74.047726625,"usertype":"Subscriber","gender":"Female","birthyear":48},{"year":2019,"startstationname":"Exchange '
 'Place","startstationlatitude":40.7162469,"startstationlongitude":-74.0334588,"endstationname":"Paulus '
 'Hook","endstationlatitude":40.7141454,"endstationlongitude":-74.0335519,"usertype":"Subscriber","gender":"Male","birthyear":34},{"year":2019,"startstationname":"Exchange '
 'Place","startstationlatitude":40.7162469,"startstationlongitude":-74.0334588,"endstationname":"Harborside","endstationlatitude":40.7192517,"endstationlongitude":-74.034234,"usertype":"Subscriber","gender":"Male","birthyear":48}]')

In [67]:
with engine.connect() as con:

#     cycles = con.execute('select count(*) from 2019_tripdata')
        cycle =con.execute('SET @jsoncycle=(SELECT JSON_ARRAYAGG(\
        JSON_OBJECT("year", year, "start station", startstationname, "start station latitude", startstationlatitude,\
        "start station longitude", startstationlongitude, "end station name", endstationname,\
        "end station latitude", endstationlatitude, "end station longitude", endstationlongitude,\
        "usertype", usertype, "gender", gender, "age", birthyear))\
         FROM 2019_tripdata)'
        )
type(cycle)

sqlalchemy.engine.result.ResultProxy

In [48]:
 with engine.connect() as con:
        cycles_js=con.execute('SELECT JSON_PRETTY(@jsoncycle)')
        session.close()
        for cy in cycles_js:
            pprint.pprint(cy)

('[\n  {\n    "age": 30,\n    "year": "base64:type13:MjAxOQ==",\n    "gender": "Male",\n    "usertype": "Subscriber",\n    "start station": "Exchange P ... (15721148 characters truncated) ... de": 40.7376037,\n    "end station longitude": -74.0524783,\n    "start station latitude": 40.73367,\n    "start station longitude": -74.0625\n  }\n]',)

In [49]:
with engine.connect() as con:
    cycles_js=con.execute('SELECT JSON_PRETTY(@jsoncycle)')
    
    for cy in cycles_js:
        print(cy)

('[\n  {\n    "age": 30,\n    "year": "base64:type13:MjAxOQ==",\n    "gender": "Male",\n    "usertype": "Subscriber",\n    "start station": "Exchange P ... (15721148 characters truncated) ... de": 40.7376037,\n    "end station longitude": -74.0524783,\n    "start station latitude": 40.73367,\n    "start station longitude": -74.0625\n  }\n]',)

In [50]:
session.close()