In [1]:
import pandas as pd
# import numpy as np

# import sqlalchemy
import json
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import jsonify
import pprint

# from config import key

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
engine = create_engine("mysql://root:Eye@m5mart@localhost:3306/cycle_db")

In [3]:
# reflect an existing database into a new model
Base = declarative_base()
# reflect the tables
# Base.prepare(engine, reflect=True)

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [5]:
inspector = inspect(engine)

In [6]:
inspector.get_table_names()

['2018_tripdata', '2019_tripdata']

In [7]:
session.query('2019_tripdata')

In [8]:
with engine.connect() as con:
    
    cycles_df= pd.read_sql_table('2019_tripdata', con, columns=["year", "startstationname", "startstationlatitude",\
        "startstationlongitude", "endstationname", "endstationlatitude", "endstationlongitude",\
        "usertype", "gender", "birthyear"])
    session.close()
cycles_df.head()

,year,startstationname,startstationlatitude,startstationlongitude,endstationname,endstationlatitude,endstationlongitude,usertype,gender,birthyear
0,2019,Exchange Place,40.716247,-74.033459,Morris Canal,40.712419,-74.038526,Subscriber,Male,30
1,2019,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,Subscriber,Male,53
2,2019,Exchange Place,40.716247,-74.033459,Van Vorst Park,40.718489,-74.047727,Subscriber,Female,48
3,2019,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,Subscriber,Male,34
4,2019,Exchange Place,40.716247,-74.033459,Harborside,40.719252,-74.034234,Subscriber,Male,48

In [ ]:

# cyc = cycles_df.head().to_json(orient='records')
# pprint.pprint(cyc)

In [ ]:
# start_station_df = cycles_df[["startstationname", "startstationlatitude",
#         "startstationlongitude"]]
# start_station_df.head()

In [ ]:
# cycles_df["startstationlongitude"].head()

In [ ]:
# stations={}
# stations = {"start_station": cycles_df.iloc[0,1], "location": [cycles_df.iloc[0,2], cycles_df.iloc[0,3]]}
# print(stations)

In [9]:

end_station_df=pd.DataFrame({
#                             "end_station_name": cycles_df.groupby("endstationname")["endstationname"].first(),
                             "end_station_lat": cycles_df.groupby("endstationname")["endstationlatitude"].first(),
                             "end_station_long": cycles_df.groupby("endstationname")["endstationlongitude"].first()
                            })
end_station_df.reset_index(inplace=True)
end_station_df.head()

             endstationname  end_station_lat  end_station_long
0          12 Ave & W 40 St        40.760875        -74.002777
1         5 Corners Library        40.734961        -74.059503
2  Amsterdam Ave & W 125 St        40.813358        -73.956461
3               Astor Place        40.719282        -74.071262
4     Baldwin at Montgomery        40.723659        -74.064194

In [10]:
end_stations= []
for i, j in end_station_df.iterrows():
    end_stations.append({
        "end_station": end_station_df.iloc[i, 0], 
        "location": [end_station_df.iloc[i,1], end_station_df.iloc[i,2]]
    })
    i+=1
print(end_stations)
# type(stations)

[{'end_station': '12 Ave & W 40 St', 'location': [40.76087502, -74.00277668]}, {'end_station': '5 Corners Library', 'location': [40.734961020009514, -74.0595030784607]}, {'end_station': 'Amsterdam Ave & W 125 St', 'location': [40.813358, -73.956461]}, {'end_station': 'Astor Place', 'location': [40.71928220070702, -74.07126188278198]}, {'end_station': 'Baldwin at Montgomery', 'location': [40.7236589, -74.0641943]}, {'end_station': 'Bayside Park', 'location': [40.698650544, -74.082079678]}, {'end_station': 'Bergen Ave', 'location': [40.722103786686034, -74.07145500183105]}, {'end_station': 'Bethune Center', 'location': [40.704957516728605, -74.08593088388443]}, {'end_station': 'Brunswick & 6th', 'location': [40.72601172964625, -74.05038893222809]}, {'end_station': 'Brunswick St', 'location': [40.7241765, -74.0506564]}, {'end_station': 'Christ Hospital', 'location': [40.734785818, -74.050443636]}, {'end_station': 'City Hall', 'location': [40.7177325, -74.043845]}, {'end_station': 'Columbia Park', 'location': [40.6970299, -74.0969366]}, {'end_station': 'Columbus Drive', 'location': [40.71835519823214, -74.03891444206238]}, {'end_station': 'Communipaw & Berry Lane', 'location': [40.71435836870427, -74.06661093235016]}, {'end_station': 'Danforth Light Rail', 'location': [40.69263996618329, -74.08801227807997]}, {'end_station': 'Dey St', 'location': [40.737711, -74.066921]}, {'end_station': 'Dixon Mills', 'location': [40.721630142638354, -74.04996782541275]}, {'end_station': 'Essex Light Rail', 'location': [40.7127742, -74.0364857]}, {'end_station': 'Exchange Place', 'location': [40.7162469, -74.0334588]}, {'end_station': 'Fairmount Ave', 'location': [40.72572613742557, -74.07195925712585]}, {'end_station': 'Garfield Ave Station', 'location': [40.7104670233797, -74.07003879547119]}, {'end_station': 'Glenwood Ave', 'location': [40.72755146730012, -74.07106071710587]}, {'end_station': 'Grand St', 'location': [40.71517767732029, -74.03768330812454]}, {'end_station': 'Grove St PATH', 'location': [40.71958611647166, -74.04311746358871]}, {'end_station': 'Hamilton Park', 'location': [40.727595966, -74.044247311]}, {'end_station': 'Harborside', 'location': [40.7192517, -74.034234]}, {'end_station': 'Heights Elevator', 'location': [40.748715945380226, -74.04044330120087]}, {'end_station': 'Hilltop', 'location': [40.7311689, -74.0575736]}, {'end_station': 'JC Medical Center', 'location': [40.71653978099194, -74.0496379137039]}, {'end_station': 'JCBS Depot', 'location': [40.70965083364061, -74.06860113143921]}, {'end_station': 'Jackson Square', 'location': [40.71113, -74.0789]}, {'end_station': 'Jersey & 3rd', 'location': [40.72333158646436, -74.04595255851744]}, {'end_station': 'Jersey & 6th St', 'location': [40.72528910781132, -74.04557168483734]}, {'end_station': 'Journal Square', 'location': [40.73367, -74.0625]}, {'end_station': 'Lafayette Park', 'location': [40.71346382669195, -74.06285852193832]}, {'end_station': 'Leonard Gordon Park', 'location': [40.74590996631558, -74.0572714805603]}, {'end_station': 'Lexington Ave & E 24 St', 'location': [40.74025878, -73.98409214]}, {'end_station': 'Liberty Light Rail', 'location': [40.7112423, -74.0557013]}, {'end_station': 'Lincoln Park', 'location': [40.7246050998869, -74.07840594649315]}, {'end_station': 'MLK Light Rail', 'location': [40.7111305, -74.0788855]}, {'end_station': 'Manila & 1st', 'location': [40.721650724879986, -74.04288411140442]}, {'end_station': 'Marin Light Rail', 'location': [40.71458403535893, -74.04281705617905]}, {'end_station': 'McGinley Square', 'location': [40.7253399253558, -74.06762212514877]}, {'end_station': 'Monmouth and 6th', 'location': [40.72568548362901, -74.04879033565521]}, {'end_station': 'Montgomery St', 'location': [40.71942, -74.05099]}, {'end_station': 'Morris Canal', 'location': [40.7124188237569, -74.03852552175522]}, {'end_station': 'Murray St & West St', 'location': [40.7149787, -74.013012]}, {'end_station': 'NJCU', 'location': [40.7101087, -74.0858489]}, {'end_station': 'Newark Ave', 'location': [40.72152515, -74.046304543]}, {'end_station': 'Newport PATH', 'location': [40.7272235, -74.0337589]}, {'end_station': 'Newport Pkwy', 'location': [40.7287448, -74.0321082]}, {'end_station': 'Oakland Ave', 'location': [40.7376037, -74.0524783]}, {'end_station': 'Paulus Hook', 'location': [40.7141454, -74.0335519]}, {'end_station': 'Pershing Field', 'location': [40.742677141, -74.051788633]}, {'end_station': 'Riverview Park', 'location': [40.7443187, -74.0439909]}, {'end_station': 'Sip Ave', 'location': [40.73089709786179, -74.06391263008118]}, {'end_station': 'Union St', 'location': [40.7182113, -74.0836394]}, {'end_station': 'Van Vorst Park', 'location': [40.71848892, -74.047726625]}, {'end_station': 'Vesey Pl & River Terrace', 'location': [40.7153379, -74.01658354]}, {'end_station': 'W 20 St & 11 Ave', 'location': [40.746745, -74.007756]}, {'end_station': 'W 38 St & 8 Ave', 'location': [40.75466591, -73.99138152]}, {'end_station': 'W 56 St & 10 Ave', 'location': [40.768254, -73.988639]}, {'end_station': 'Warren St', 'location': [40.7211236, -74.03805095]}, {'end_station': 'Washington St', 'location': [40.7242941, -74.0354826]}, {'end_station': 'West Side Light Rail', 'location': [40.714402, -74.0887723]}, {'end_station': 'York St', 'location': [40.71649, -74.04105]}]

In [47]:
for i in start:

SyntaxError: unexpected EOF while parsing (<ipython-input-47-0779496eb9a9>, line 2)

In [ ]:
# with engine.connect() as con:

# #     cycles = con.execute('select count(*) from 2019_tripdata')
#         cycle =con.execute('SET @jsoncycle=(SELECT JSON_ARRAYAGG(\
#         JSON_OBJECT("year", year, "start station", startstationname, "start station latitude", startstationlatitude,\
#         "start station longitude", startstationlongitude, "end station name", endstationname,\
#         "end station latitude", endstationlatitude, "end station longitude", endstationlongitude,\
#         "usertype", usertype, "gender", gender, "age", birthyear))\
#          FROM 2019_tripdata)'
#         )
# type(cycle)

In [ ]:
#  with engine.connect() as con:
#         cycles_js=con.execute('SELECT JSON_PRETTY(@jsoncycle)')
#         session.close()
#         for cy in cycles_js:
#             pprint.pprint(cy)

In [ ]:
with engine.connect() as con:
    cycles_js=con.execute('SELECT JSON_PRETTY(@jsoncycle)')
    
    for cy in cycles_js:
        print(cy)